<div class="login-main">
    <h2 class="login-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="user-name-block"> 
            <label for="username" class="label">Username: </label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="password-block">
            <label for="password">Password: </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="submit-button">
            <button [disabled]="loading" class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <div *ngIf="invalidCred" class="invalid-cred">
                <div *ngIf="invalidCred">Invalid username of password</div>
            </div>
        </div>
    </form>
    <div> Hard-coded Username: test Password: Admin@123 </div>
</div>
